.h1{
    margin-left: 30px;
    padding: 5px;
  }
  
  .h2{
    margin-left: 40px;
    padding: 2px;
  }
  
  a{
    padding: 3px;
  }
  .page-footer {
    padding: 10px;
    text-align: center;
  }
  footer {
    margin-top: auto; /* Pushes the footer to the bottom */
  }
  
  #cv-pdf {
    flex: 1; /* Makes sure content takes the remaining space */
  }
  
  img{
    padding: 5px;
  }
  
  html, body {
    height: 100%; /* Ensure full height for html and body */
  }
  
  body{
    background-color: rgb(167, 242, 255)!important;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .containerApresentacao{
    align-content: center;
    display: flexbox;
    align-self: center;
    position: absolute!important;
  }
  
  .headline{
    background-color: rgb(243, 202, 148);
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 5px;
    
  }
  
  .content-container{
    /* background-color: aquamarine; */
    margin-bottom: 15px;
  }
  
  .head
  
  /* Ensure the image is centered in the column */
  .col {
    display: flex;           /* Use Flexbox */
    justify-content: center; /* Center the image horizontally */
    align-items: center;     /* Center the image vertically */
  }
  
  /* Optional: Add a bit of margin to the image for spacing */
  .profile {
    border-radius: 50%;  /* Makes the image circular (optional) */
    object-fit: cover;   /* Ensures the image fits properly within the dimensions */
  }
  
  
  /* Base styles for carousel container */
  .carouselHome {
    width: 100%; /* Make it full-width initially */
    max-width: 800px; /* Maximum width of the carousel */
    height: 600px; /* Fixed height for the carousel */
    margin: 0 auto; /* Center the carousel */
    overflow: hidden; /* Hide any overflow from large images */
    position: relative; /* For controlling inner elements */
  }
  
  /* Ensuring that images or content inside the carousel fit */
  .cd-block w-100{
    width: 100%; /* Images will scale to the width of the carousel */
    height: 100%; /* Make the images take up the entire height */
    object-fit: cover; /* Ensure the images cover the container without stretching */
  }
  
  .pdfobject-container { height: 500px; border: 1px solid #ccc; }
  
  
  /* Responsive adjustment for smaller screens */
  @media (max-width: 768px) {
    .carouselHome {
        height: 300px; /* Reduce height for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .carouselHome {
        height: 200px; /* Further reduce height for mobile devices */
    }
  }