{{template "head"}}

<body>
      <div class="container mt-5" id="">
        <div class="content-container">
        
        <!-- inicio da apresentacao -->
        <div class="apresentacao_title overflow-y-visible">
        <p class="h1" align="left">Apresentação</p>
        </div>
        <div class="apresentacao_wrapper container text-center">
          <div class="row">
            <div class="col" align="justify">
              <p class="lead">Desenvolvedor backend com 5 anos de experiência, atualmente focado em Golang para desenvolvimento web. Experiência prévia com Python e Django. Habilidades em comunicação, autogestão e pensamento analítico. Inglês fluente e experiência na gestão de times internacionais (Índia) em projetos com Salesforce APEX. </p>
            </div>
            <div class="col">
              <div class="profile_wrapper">
              <img class="profile" src="img/profile.jpeg" width="250px" height="250px">
              </div>
            </div>
          </div>
        </div>
        
      <!-- Inicio do carrossel -->

      <div class="overflow-y-visible" style="background-color: rgb(243, 202, 148);display: inline-block;">
        <p class="h1" align="left">Projetos</p>
        </div>
        
        <div class="container text-center" style="background-color: aquamarine;">
          <div class="row">
            <div class="col">
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore aut placeat culpa pariatur eum odio dolore id esse eligendi, exercitationem vero dolores, fugiat vitae maiores doloremque velit? Itaque, facere optio!</p>
          </div>
            <div class="col">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit cum neque voluptatum corporis harum minima alias ut nemo nostrum. Fuga quis modi mollitia. Non similique facilis mollitia molestiae voluptas sint?</p>
            </div>
          </div>
        </div>
      
      </div>


{{template "bootstrap"}}
</body>
{{template "footer"}}
</html>
</head>
