{{template "head"}}
<body>
  <div class=headline>
  <p class="h1">{{.title}}</p>
  </div> 
  
  <div class="content-container"> 
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse inventore aperiam iusto porro doloremque sit! Doloribus quibusdam vitae debitis id vero cupiditate eos explicabo a perspiciatis consequuntur, ut, voluptas nulla?Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur unde nesciunt eos modi nisi placeat dicta dolorem minus. Ea aspernatur obcaecati ad consequuntur rerum, totam aperiam odio iusto quasi impedit.
    </p>
  </div>
  
  
  {{template "bootstrap"}}
</body>
{{ template "footer"}}
</html>
