{{template "head"}}

{{template "bootstrap"}}

  <div class="content-container">
      <div class="container mt-5">
      
        <div class="container text-center formColumn">
          <div class="row align-items-start">
            <div class="col">
              <form method="POST">
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nome</label>
                  <input name="nome" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fernando Fraga" required="True">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                  <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required="True">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                  <textarea name="mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3" required="True"></textarea>
                </div>
                <button class="btn btn-primary" type="submit" formaction="/enviar_contato">Enviar</button>
              </form>  
              {{if .feito}}
                <script>alert("Obrigado por entrar em contato!")</script>
              {{end}}
            </div>
            <div class="col">
              <img src="img/gopher.png">
            </div>
            </div>
          </div>
        </div>
        <!-- <iframe width="600" height="450" style="border:0"  loading="lazy"
        allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key={{.API_KEY}}&q=Sao-Paulo">
</iframe> -->
  </div>
      
      
      
      
      
      
      
      
        
    </body>
{{template "footer"}}
  </html>

