{{template "head"}}

<body>
      <div class="container mt-5" id="">
        <div class="content-container" class="containerApresentacao">
        
        <!-- inicio da apresentacao -->
        <div class="headline" class="overflow-y-visible">
          <p class="h1" align="left">Apresentação</p>
          </div>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img class="profile" src="img/profile.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Desenvolvedor Backend</h1>
            <p class="lead" align="justify">Desenvolvedor backend com experiência prévia em gestão. Vivência com integrações utilizando Python, Flask e AWS. Atualmente estudando Golang. </p>
            </div>
          </div>
        </div>
        <!-- Inicio da sessão Empresas -->
        <div class="content-container">
        <div class="headline" class="overflow-y-visible">
          <p class="h1" align="left">Empresas</p>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseOne">
                  <strong>Compre Sua Peça - AutoTech</strong>
                </button>
              </h2>
              <div id="collapseZero" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead">Minha contribuição atualmente no compre sua peça possui dois pilares. Integrações entre sistemas ERP com e-commerces e melhorias das APIs internas da empresa.
                    Dentro deste escopo, fui responsável por: </p>
                <ul>
                  <li>Integrar o RP Protheus com o e-commerce Shopify utilizando os serviços da AWS (Lambdas, API Gateway e EventBridge)</li>
                  <li>Desenvolver um hub de integrações utilizando arquitetura de microserviços, Python e Flask</li>
                  <li>Contribuir com demandas de webscraping e scraping de PDFs</li>
                </ul>
                </div>
              </div>
            </div>  
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <strong>FK Partners - Educação</strong>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead">Inicie minha carreira na <strong> FK Partners </strong> como editor de vídeo e saí como sócio e <strong>Gerente de Operações</strong>.
                  <br>Durante minha permanência na empresa, fui responsável por: </p>
                <ul>
                  <li>alavancar uma nova área de negócios (Proctoring - Monitoramento de Exames Online ao Vivo)</li>
                  <li>implementar um novo sistema de mensagem para leads (Zenvia Conversion)</li>
                  <li>estruturar a área de tecnologia em processos e base de conhecimento</li>
                  <li>atuei como arquiteto de soluções para desenhar um projeto de aplicativo</li>
                  <li>mantive e lidei com 2 ataques DDOS ao site (Worpress)</li>
                </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <strong> Web Developer - Freelancer </strong>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="lead">Durante meu período entre empregos, dediquei meu tempo a aprimorar meus conhecimentos em Go, Python e Wordpress, atuando nos seguintes projetos: </p>
                  <ul>
                    <li><a href="https://nada.art.br/"> nada.art </a> Responsável por realizar a mudança do tema wordpress, revisando as páginas e refatorando conforme a necessidade.</li>
                    <li><a href="https://github.com/fernando-g-fraga/MealIst"> MealIst </a> Neste projeto autoral criei um aplicativo de linha de comando (CLI) que recebe nomes de receitas e retorna as receitas + lista de compras como tasks no TodoIst.
                    <li><a href="https://github.com/fernando-g-fraga/controle-pedidos">API Controle de Pedidos </a> Neste projeto criei uma API para lançamento de Pedidos de compra em Go, utilizando postgreSQL como banco.</li>
                    <li><a href="https://github.com/fernando-g-fraga/django_agenda">Agenda </a>Neste projeto criei controlador de agendamentos utilizando o framework DJANGO WEB e PostgreSQL</li>
                  </ul> 
                </div>
              </div>
            </div>
          </div>


{{template "bootstrap"}}
</body>
{{template "footer"}}
</html>
</head>
